<div class="container mt-10">
  <div class="row justify-content-center">
    <div class="dropdown col-6">
      <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
        data-bs-reference="parent" aria-expanded="false">
        Dropdown link
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <ul class="list-group">
        <div class="d-flex justify-content-between">
          <li class="list-group-item">
            午餐
          </li>
          <div>
            <button>修改</button>
            <button>刪除</button>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>